.index-content {
    background-color: var(--divider);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 1.25rem;
    padding-top: 4.375rem;
    .sidebar {
        flex: 0 0 15.625rem;
        padding: 0 1.25rem 1.25rem 0;
        .categories {
            padding: 1.25rem;
            background: white;
            border-radius: 0.1875rem;
            box-shadow: var(--box-shadow);
            li {
                margin: 0.625rem;
                transition: 200ms;
                cursor: pointer;
                &:hover {
                    color: var(--primary);
                    strong {
                        color: var(--primary);
                    }
                }
            }
            .active {
                color: var(--primary);
                font-weight: 700;
                strong {
                    color: var(--primary);
                }
            }
        }
    }
    .articles-container {
        max-width: 50rem;
        // width: 100%;
        flex: 1;
        margin: 0 0 10px 0;
        .article {
            background-color: white;
            padding: 0 3.125rem;
            @include pluton {
                padding: 0 1.25rem;
            }
            margin-bottom: 5rem;
            border-radius: 3px;
            box-shadow: var(--box-shadow);
            display: flex;
            flex-direction: column;
            align-items: center;
            &-profile {
                width: 90px;
                height: 90px;
                border-radius: 50%;
                margin-top: -45px;
            }
            &-title {
                margin-top: 1.25rem;
                margin-bottom: 0;
                color: var(--text);
            }
            &-author &-category {
                margin-bottom: 1.875rem;
                color: var(--hint);
            }
            &-content {
                max-width: 37.5rem;
                color: var(--text);
                // La propriété est white-space permet de gérer les espaces, les tabulations et les nouvelles lignes dans les textes d'un élément.
                white-space: pre-line;
            }
            &-actions {
                width: 100%;
                display: flex;
                justify-content: end;
                margin-top: 1.25rem;
                padding: 1.25rem 0;
                border-top: 1px solid var(--divider);
                .btn {
                    margin-left: 0.625rem;
                }
            }
        }
    }
}
