.container {
    min-height: 100vh;
    display: grid;
    grid:
        "header" auto
        "main" 1fr
        "footer" auto /
        auto;
    header {
        grid-area: header;
        background-color: blue;
        padding: 1.25rem;
    }
    main {
        grid-area: main;
        background-color: red;
    }
    footer {
        grid-area: footer;
        background-color: green;
        padding: 1.25rem;
    }
}
